.ub-separator{
    background-color: #000000;
}

.ub-btn-dark{
    background-color: #000000;
    color: white !important;
}

.ub-label{
    color: #545454;
}

.ub-label-info{
    color: #276ef2;
}

.ub-bg-gray{
    background-color: #f7f7f7;
}

.ub-bg-white{
    background-color: white;
    border-top: solid 1px #eeeeee;
}

.ub-bg-dark{
    background-color: #000000;
    color: white;
}

.ub-bg-dark .fa{
    color: white;
    font-size: 18px;
}

.ub-icon-lg{
    font-size: 54px;
}

.ub-text-success{
    color: #47b275;
}